{% extends 'common/base.html' %}
{% block title %} About us {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
       <div class="col-sm-5 mt-5 offset-sm-4" style="border: 1px solid gray;padding:10px;">
                
            <h2 class="bg-primary text-white text-center p-3">Admin Panel</h2>
            
                <form action="{% url 'admin_login' %}" method="post">
                  {% csrf_token %}
                  <div class="mt-2">
                    <label for="email">Email-Id</label>
                    <input type="email" name="email" id="email" required class="form-control">
                  </div>

                   <div class="mt-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required class="form-control">
                  </div>

                   <div class="mt-2">
                     <button class="btn btn-primary">Login Now</button>
                  </div>

            </form>
            <div class="mt-2 text-center">
                          {% if messages %}
                          {% for message in messages %}
                          <div class="alert alert-danger">
                             {{message}}
                          </div>
                          {% endfor %}
                          {% endif %}
                     </div>
         </div>
    </div>
</div>


{% endblock %}