{% extends 'common/user_dashboard.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="container-fluid mt-5">
 <div class="row mt-2">
     <h2 class="text-center text-primary">Products</h2>
      {% for record in data  %}
  
      <div class="col-sm-4 mt-5">

         <div class="card" style="width: 18rem;">
            <img src="{{ record.photo.url }}" height="200" width="300" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{ record.name}}</h5>
                <h6 class="text-center">{{ record.price }} Rs.</h6>
                <div class="text-center">
                <a href="{% url 'viewproduct' record.id %}" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
         </div>


      </div>
     {% endfor %}
 </div>
</div>

{% endblock %}