{% extends 'common/user_dashboard.html' %}
{% block title %} Help {% endblock %}

{% block content %}


<div class="conatiner-fluid mt-5">
  
         <table class="table table-primary">
             <thead>
                 <tr>
                     <th>Ticket Id</th>
                     <th>Customer Email</th>
                     <th>Subject</th>
                     <th>Query</th>
                     <th>My Reply</th>
                     <th>Admin Reply</th>
                     <th>Action</th>
                 </tr>
             </thead>
             <tbody>
                       {% for record in data %}
                        <tr>
                             <td>{{ record.id }}</td>
                             <th>{{ record.customer_email }}</th>
                             <td>{{ record.subject }}</td>
                             <td>{{ record.query }}</td>
                             <td>{{ record.customer_reply }}</td>
                             <td>{{ record.admin_reply }}</td>
                             <td>
                               <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminmodal" onclick="set_value('{{record.id}}','{{record.admin_reply}}')">Reply</a>
                              <a href="{% url 'close_ticket' record.id %}" class="btn btn-danger" onclick="return confirm('Are you Sure?')">Close Ticket</a>
                            </td>
                        </tr>
                       {% endfor %}
             </tbody>
         </table>
     </div>
</div>
</div>



<!-- Modal -->
<div class="modal fade" id="adminmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Ticket Reply</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="{% url 'admin_reply' %}" method="post">
               {% csrf_token %}
               <input type="hidden" name="tid" id="tid">
               <div class="mt-2">
                 <label for="areply">Reply</label>
                 <textarea class="form-control" name="areply" id="areply"></textarea>
               </div>
               <div class="mt-2">
                  <button class="btn btn-success">Send</button>
               </div>
          </form>
      </div>
      
    </div>
  </div>
</div>





                  <div class="mt-2 text-center">
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-danger">
                                    {{message}}
                                </div>
                                {% endfor %}
                                {% endif %}
                     </div>


<script>
        function set_value(tid,areply){
            document.getElementById("tid").value=tid;
            document.getElementById('areply').value=areply;
        }
</script>


{% endblock %}