{% extends 'common/base.html' %}
{% block title %} Newuser {% endblock %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="row">

          <div class="col-sm-5  offset-sm-4" style="border: 1px solid gray;padding:10px;">
                <h2 class="bg-primary text-white text-center p-3">Create An Account</h2>
                <form action="{% url 'customer_signup' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                     <div class="mt-2">
                         <label id="name">Name</label>
                         <input type="text" id="name" name="name" required class="form-control">
                     </div>

                     <div class="mt-2">
                         <label id="email">Email-Id</label>
                         <input type="email" id="email" name="email" required class="form-control">
                     </div>

                     <div class="mt-2">
                         <label id="password">Password</label>
                         <input type="password" id="password" name="password" required class="form-control">
                     </div>

                       <div class="mt-2">
                         <label id="gen">Gender</label> &nbsp;&nbsp;
                          <input type="radio" id="name" name="gen" value="Male" required> Male &nbsp;&nbsp;
                          <input type="radio" id="name" name="gen" value="Female" required>&nbsp;&nbsp; Female
                     </div>

                         <div class="mt-2">
                         <label id="state">State</label>
                         <select id="state" name="state" required class="form-control">
                            <option selected disabled value="">Select State</option>
                            <option>Haryana</option>
                            <option>Punjab</option>
                            <option>Himachal</option>
                            <option>Delhi</option>
                            <option>Karnatka</option>
                         </select>
                     </div>

                       <div class="mt-2">
                         <label id="mobile">Mobile</label>
                         <input type="number" id="mobile" name="mobile" required class="form-control">
                     </div>

                      <div class="mt-2">
                         <label id="photo">Photo</label>
                         <input type="file" id="photo" name="photo" required class="form-control">
                     </div>

                       <div class="mt-2">
                         <label id="address">Address</label>
                         <textarea id="address" name="address" required class="form-control"></textarea>
                     </div>


                     <div class="mt-2">
                          <button class="btn btn-primary">Submit</button>
                     </div>

                </form>

                <div class="mt-2 text-center">
                          {% if messages %}
                          {% for message in messages %}
                          <div class="alert alert-success">
                             {{message}}
                          </div>
                          {% endfor %}
                          {% endif %}
                     </div>

          </div>
    </div>
</div>

{% endblock %}